<div style="display: flex; align-items: center; flex-direction: column;" ng-if="!loading">
    <input ng-model="pessoa.nome" type="text" placeholder="Nome" style="margin: 6px">
    <input ng-model="pessoa.cpf" type="text" placeholder="CPF (somente numeros)" style="margin: 6px">
    <input ng-model="pessoa.email" type="text" placeholder="E-mail" style="margin: 6px">
    <input ng-model="pessoa.endereco" type="text" placeholder="Endedeço" tyle="margin: 6px">
    <input ng-model="pessoa.dataDeNascimento" type="text" placeholder="Data de nascimento - DD/MM/AAAA" style="margin: 6px">
</div>