<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/controllers/viewController.js"></script>
    <script src="../assets/js/services/pessoasAPIservice.js"></script>
    <script src="../assets/js/directives/uiAlertDirective.js"></script> 
    <script src="../assets/js/directives/uiFormularioCadastroUsuarioDirective.js"></script> 
</head>
<body ng-controller="viewController">
    <h2 class="jumbotron" align="center">{{app}}</h2>
    <div align="center">
        <input type="text" placeholder="ID da pessoa" ng-model="pessoa.id">
        <div>
            <button type="submit" class="btn btn-primary" style="margin: 6px" ng-click="buscaPessoa(pessoa.id)">Pesquisar</button>
        </div>
    </div>
    <ui-formulario-cadastro-usuario></ui-formulario-cadastro-usuario>
    <div style="display: flex; justify-content: center; flex-direction: row;">
        <button type="submit" class="btn btn-danger" style="margin: 6px" ng-click="excluiPessoa()">Excluir</button>
        <button type="submit" class="btn btn-primary" style="margin: 6px" ng-click="editaPessoa()">Editar</button>
    </div>
    <div ng-if="loading" class="loader"></div>
    <ui-alert ng-if="error" title="Ops!" message="Erro de conexão"></ui-alert>
</body>