<html ng-app="carrinhoDeCompras">
    <head>
        <title>Carrinho de compras</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script>
            angular.module("carrinhoDeCompras", []);
            angular.module("carrinhoDeCompras").controller("carrinhoDeComprasController", function($scope) {
                $scope.app = "Carrinho de compras";
                $scope.products = [
                    {name: 'Caderno', price: 15.99},
                    {name: 'Lápis de cor (caixa com 12 unidades)', price: 19.99},
                    {name: 'Canetas esferográficas (kit com 10 unidades)', price: 12.99},
                    {name: 'Borracha', price: 1.99},
                    {name: 'Apontador', price: 3.99},
                    {name: 'Cola branca (frasco de 90ml)', price: 4.99},
                    {name: 'Tesoura escolar', price: 7.99},
                    {name: 'Papel sulfite (pacote com 100 folhas)', price: 9.99},
                    {name: 'Estojo escolar', price: 8.99},
                    {name: 'Régua de 30cm', price: 2.99}
                ];
                $scope.cartItems = [];
                $scope.cadastrar = function() {
                    let productName = $scope.product.name;
                    if (!productName) {
                        return;
                    }
                    function getItemIndex() {
                        return $scope.cartItems.findIndex(function(item) {
                            return item.name === productName;
                        });
                    }
                    function isNewItem() {
                        return getItemIndex() === -1;
                    }
                    if (isNewItem()) {
                        let newProduct = {
                            name: productName,
                            price: $scope.product.price,
                            quantity: 1
                        };
                        $scope.cartItems.push(newProduct);
                    } else {
                        let index = getItemIndex();
                        $scope.cartItems[index].quantity++;
                    }
                };
                $scope.excluir = function() {
                    let selectedItems = $scope.cartItems.filter(function(item) {
                        return item.checked;
                    });
                    if (selectedItems.length === 0) {
                        return;
                    }
                    for (let selectedItem of selectedItems) {
                        let index = $scope.cartItems.indexOf(selectedItem);
                        $scope.cartItems.splice(index, 1);
                    }
                };
                $scope.noItemsSelected = function() {
                    return $scope.cartItems.every(function(item) {
                        return !item.checked;
                    });
                };
                $scope.somarPrecos = function(cartItems) {
                    var total = 0;
                    for (var i in cartItems) {
                        total += cartItems[i].price * cartItems[i].quantity;
                    }
                    return total;
                }
                $scope.isCpfValido =  function(cpf) {
                    cpf = cpf.replace(/[.-]/g,'').replace(" ","");
                    console.log(cpf)
                    let cpfLength = 11;
                    let somaPonderadaD1 = 0;
                    let somaPonderadaD2 = 0;
                    let digitoVerificador1 = 0;
                    let digitoVerificador2 = 0;
                    function isNullOuVazio(string){
                        return string == null || string == undefined || string == "";
                    }
                    if (isNullOuVazio(cpf)){
                        return false;
                    }
                    if (cpf.length !== cpfLength){
                        return false;
                    }
                    for (let digito of cpf) {
                        digito = parseInt(digito);
                        somaPonderadaD1 = somaPonderadaD1 + (11 - cpf.indexOf(digito.toString())) * digito;
                        somaPonderadaD2 = somaPonderadaD2 + (12 - cpf.indexOf(digito.toString())) * digito;
                    }
                    let restoDaDivisao = (somaPonderadaD1 % 11);
                    digitoVerificador1 = 11 - restoDaDivisao;
                    if (restoDaDivisao < 2) {
                        digitoVerificador1 = 0;
                    }
                    somaPonderadaD2 += 2 * digitoVerificador1;
                    restoDaDivisao = (somaPonderadaD2 % 11);
                    if (restoDaDivisao >= 2) {
                        digitoVerificador2 = 11 - restoDaDivisao;
                    }
                    let digitosVerificadores = cpf.substring(cpf.length - 2, cpf.length);
                    let digitosVerificadoresCalculados = "" + digitoVerificador1 + "" + digitoVerificador2;
                    console.log(digitosVerificadores == digitosVerificadoresCalculados);
                    return digitosVerificadores == digitosVerificadoresCalculados;
                }
            });
        </script>
    </head>
    <body ng-controller="carrinhoDeComprasController">
        <div>
            <h2>{{app}}</h2>
            <div>
                <div>
                    <select ng-model="product" ng-options="product as product.name for product in products">
                        <option value="">Produto</option>
                    </select>                    
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Qtde</th>
                    <th>Produto</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartItems">
                    <td><input type="checkbox" ng-model="item.checked"></td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.name}}</td>
                    <td>R${{item.price}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td>R${{somarPrecos(cartItems)}}</td>
                </tr>
            </tbody>
        </table>
        <form name="comprasForm">
            <input type="text" placeholder="CEP" ng-model="cep" name="cep" ng-required="true">
            <input type="text" placeholder="CPF" ng-model="cpf" id="cpf" name="cpf" ng-required="true" ng-pattern="/^\d{3}\.\d{3}\.\d{3}-\d{2}$/">
            <input type="text" placeholder="Cupom de desconto" ng-model="desconto" name="desconto">
        </form>
        <div class="alert alert-danger" ng-show="comprasForm.cpf.$dirty && comprasForm.cpf.$invalid">Insira o CPF no formato xxx.xxx.xxx-xx</div>
        <div class="button">
            <button type="button" class="btn btn-primary" ng-click="cadastrar()" ng-disabled="!product">
                <i class="fas fa-cart-plus"></i> Adicionar
            </button> 
            <button type="button" class="btn btn-danger" ng-click="excluir()" ng-disabled="noItemsSelected()">
                <i class="fas fa-cart-arrow-down"></i> Excluir
            </button>
            <button type="button" class="btn btn-success" ng-click="isCpfValido(comprasForm.cpf.$viewValue)" ng-disabled="comprasForm.$invalid">
                <i class="fas fa-check"></i> Comprar
            </button>                                     
        </div>
    </body>
</html> 
